<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>not found</title>
</head>

<body>
  <div class="center mt-5">
    <div class="row">
      <div class="login px-4 mx-auto mw-100">
        <h1 class="text-center mb-4">404 Page NOT Found</h1>
        <hr>
        <p>Sorry the address your are looking for not found.</p>
        <a href="{% url 'website:index' %}" class="btn btn-primary submit mb-4">Go to home page</a>
        <hr>
        <br>
      </div>
    </div>
  </div>
</body>

</html>