{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />

  <title>Saleh Mohammadzadeh</title>
  <meta content="Portfolio" name="description" />
  <meta content="Saleh Mohammadzadeh" name="keywords" />
  <meta content="صالح محمدزاده" name="keywords" />


  <!-- Favicons -->
  <link href="{% static '/img/favicon.png' %}" rel="icon" />
  <link href="{% static '/img/apple-touch-icon.png' %}" rel="apple-touch-icon" />

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet" />

  <!-- Vendor CSS Files -->
  <link href="{% static '/vendor/aos/aos.css' %}" rel="stylesheet" />
  <link href="{% static '/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
  <link href="{% static '/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet" />
  <link href="{% static '/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet" />
  <link href="{% static '/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet" />
  <link href="{% static '/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet" />

  <!-- Template Main CSS File -->
  <link href="{% static '/css/style.css' %}" rel="stylesheet" />

</head>

<body>
  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">
      <div class="profile">
        <img src="{% static '/img/profile-img.jpg' %}" alt="" class="img-fluid rounded-circle" />
        <h1 class="text-light">
          <a href="{% url 'website:index' %}">صالح محمدزاده</a>
        </h1>
        <div class="social-links mt-3 text-center">
          <a href="https://www.instagram.com/smz6990/" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="https://github.com/smz6990" class="github"><i class="bx bxl-github"></i></a>
          <a href="https://www.linkedin.com/in/saleh-mohammadzadeh/" class="linkedin"><i
              class="bx bxl-linkedin"></i></a>

        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li>
            <a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>خانه</span></a>
          </li>
          <li>
            <a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>درباره من</span></a>
          </li>
          <li>
            <a href="#skills" class="nav-link scrollto"><i class="bx bx-wrench"></i> <span>مهارت ها</span></a>
          </li>
          <li>
            <a href="#resume" class="nav-link scrollto"><i class="bx bx-folder-open"></i> <span>پروژه ها</span></a>
          </li>
          <li>
            <a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>تماس با من</span></a>
          </li>
          <li>
            <a href="{% url 'website:resume' %}"><i class="bx bx-file"></i> <span>دریافت فایل رزومه</span></a>
          </li>
        </ul>
      </nav>
      <!-- .nav-menu -->
    </div>
  </header>
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in" dir="ltr">
      <h1>Saleh</h1>
      <p>
        I'm
        <span class="typed" data-typed-items="Django developer, Freelancer, Backend developer, Programmer"></span>
      </p>
    </div>
  </section>
  <!-- End Hero -->

  <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">
        <div class="section-title">
          <h2>درباره من</h2>
          <p>
            صالح محمدزاده فارغ تحصیل کارشناسی علوم کامپیوتر از دانشگاه شهید باهنر کرمان هستم
            <br>
            در زمان تحصیل زبان های pascal و c++/c و php را یاد گرفتم ، در حال حاضر تمرکزم روی
            زبان Python و فریمورک Django و Django-rest-framework هست
            و با ذهنی خلاق و ماجراجو به دنبال حل مسائل و دیباگ کردن مشکلات و یادگیری مهارت ها و ابزارهای جدید و بروز
            هستم
          </p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="{% static '/img/profile-img.jpg' %}" class="img-fluid" alt="" />
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3> Software Developer &amp; Backend/Django Developer</h3>
            <p class="fst-italic">اطلاعاتی درباره ی من</p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li>
                    <i class="bi bi-chevron-left"></i>
                    <strong> متولد:</strong> <span>1369</span>
                  </li>
                  <li>
                    <i class="bi bi-chevron-left"></i>
                    <strong>وب سایت:</strong> <span><a href="https://salehmzh.ir">salehmzh.ir</a></span>
                  </li>
                  <li>
                    <i class="bi bi-chevron-left"></i>
                    <strong>شماره تماس:</strong> <span>0938-763-1255</span>
                  </li>
                  <li>
                    <i class="bi bi-chevron-left"></i>
                    <strong>شهر:</strong> <span>تهران</span>
                  </li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li>
                    <i class="bi bi-chevron-left"></i> <strong>صفحه github:</strong>
                    <span><a href="https://github.com/smz6990/">smz6990</a></span>
                  </li>
                  <li>
                    <i class="bi bi-chevron-left"></i>
                    <strong>صفحه linkedin:</strong> <span><a
                        href="https://www.linkedin.com/in/saleh-mohammadzadeh/">saleh</a></span>
                  </li>
                  <li>
                    <i class="bi bi-chevron-left"></i>
                    <strong></strong>
                    <span><a href="mailto:saleh.mohammadzadeh@gmail.com">ارسال ایمیل</a></span>
                  </li>
                  <li>
                    <i class="bi bi-chevron-left"></i>
                    <strong>رزومه:</strong>
                    <span>
                      <a href="{% url 'website:resume' %}">دریافت فایل رزومه</a>
                    </span>
                  </li>
                </ul>
              </div>
            </div>
            <p dir="ltr">
              I have bachelor degree in computer science from Shahid Bahonar University of Kerman, class 2012. Since
              youth I have shown a strong interest in mathematics and the IT world. Then I got accepted into my dream
              field at university. Unfortunately, I got away from the computer world after graduation. But now i'm back,
              stronger, more motivated, and more open-minded to conquer the world of IT. With my curious, creative and
              adventurous mind, i'm more than ready to irrigate my thirst for knowledge and success in this field, and
              make significant progress and reach my goals.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- End About Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container">
        <div class="section-title">
          <h2>مهارت ها ،زبان و ابزار ها</h2>
          <p>
            هیچ وقت برای آموزش و یادگرفتن مهارت و حرفه جدید دیر نیست
          </p>
        </div>

        <div class="row skills-content" dir="ltr">
          <div class="col-lg-6" data-aos="fade-up">
            <div class="progress">
              <span class="skill">English <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Django <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">MySQL ,PostgreSQL ,MongoDB ,RedisDB <i class="val">70%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="progress">
              <span class="skill">Python <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Django Rest-framework <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">HTML ,CSS ,Bootstrap <i class="val">55%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div>
          </div>
          <p>
            Design, develop, test, debug and secure a web application. Deploy on host (IaaS and PaaS). Design and
            develop RESTful APIs. Writing tests with PyTest and Unittest.
            Background processing and caching (Redis/Celery). Web scraping. Docker, docker-compose, docker-swarm.
            stress/load testing a site. API documentation with Postman, Nightingale, swagger, redoc.
            Git, github, gitlab, github actions, github ci/cd pipeline. pep8 ,jinja2, nginx. and many more cool skills
            ,tools and modules ...
            <br>
            Now im learning GraphQL, gRPC and Websocket.
          </p>
        </div>

      </div>
    </section>
    <!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">
        <div class="section-title">
          <h2>پروژه ها</h2>

          <p>تعدادی از پروژه های قابل نمایش</p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title"><a href="https://salehmzh.ir"> salehmzh.ir</a></h3>
            <div class="resume-item pb-0">
              <h4><a href="https://github.com/smz6990/Portfolio">سورس کد</a></h4>
              <p><em>پروژه CV شخصی که قالبش از سایت
                  <a href="https://bootstrapmade.com/">BootstrapMade</a>
                  تهیه شده
                </em></p>
              <ul>
                <li>این پروژه با Django نوشته شده</li>
                <li>پروژه به صورت template render هستش</li>
                <li>از Class Base View ها استفاده شده</li>
                <li>آموزش استفاده در
                  <a href="https://github.com/smz6990/Portfolio">github</a>
                  قرار گرفته
                </li>
              </ul>
            </div>

            <h3 class="resume-title"><a href="http://37.32.24.248/">Blog DRF</a></h3>
            <div class="resume-item">
              <h4><a href="https://github.com/smz6990/DRF-Blog">سورس کد</a></h4>
              <p><em>پروژه وبلاگ که با docker-compose اجرا میشه و دارای ci/cd هستش و بر مبنای API نوشته شده</em></p>
              <ul>
                <li>این پروژه با Django نوشته شده</li>
                <li>این پروژه با Django rest-framework نوشته شده</li>
                <li>پروژه هم به صورت template render و هم API هستش</li>
                <li>از Class Base View ها استفاده شده</li>
                <li>دارای سه فاز development, staging, production هست</li>
                <li>مدل کاربر به صورت شخصی سازی تغییر داده شده</li>
                <li>احراز هویت کاربر به سه صورت session, token authorization و JWT ارائه شده</li>
                <li>هر کاربر صفحه شخصی داره (user profile)</li>
                <li>هر پست از وبلاگ قابلیت کامنت گذاشتن رو داره</li>
                <li>از permission های شخصی سازی شده استفاده شده</li>
                <li>آموزش استفاده در
                  <a href="https://github.com/smz6990/DRF-Blog">github</a>
                  قرار گرفته
                </li>
              </ul>
            </div>

          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">ToDo web app</h3>
            <div class="resume-item">
              <h4><a href="https://github.com/smz6990/ToDo-CBV">سورس کد</a></h4>
              <p><em>
                  ToDo Web app به صورت api نوشته شده ، با docker-compose اجرا میشه و ci/cd داره که با هر بار commit
                  به صورت خودکار تغیرات بر روی سایت اجرا میشه
                </em></p>
              <ul>
                <li>این پروژه با Django نوشته شده</li>
                <li>این پروژه با Django rest-framework نوشته شده</li>
                <li>پروژه هم به صورت template render و هم API هست</li>
                <li>از Class Base View ها استفاده شده</li>
                <li>دارای دو فاز development, staging هست</li>
                <li>مدل کاربر به صورت شخصی سازی تغییر داده شده</li>
                <li>احراز هویت کاربر به سه صورت session, token authorization و JWT ارائه شده</li>
                <li>از permission های شخصی سازی شده استفاده شده</li>
                <li>آموزش استفاده در
                  <a href="https://github.com/smz6990/ToDo-CBV">github</a>
                  قرار گرفته
                </li>
              </ul>
            </div>
            <h3 class="resume-title">Simple Blog</h3>
            <div class="resume-item">
              <h4><a href="https://github.com/smz6990/Blog">سورس کد</a></h4>
              <p><em>وبلاگ ساده</em></p>
              <ul>
                <li>این پروژه با Django نوشته شده</li>
                <li>پروژه به صورت template render هست</li>
                <li>از Function Base View ها استفاده شده</li>
                <li>هر پست از وبلاگ قابلیت کامنت گذاشتن رو دارد</li>
                <li>آموزش استفاده در
                  <a href="https://github.com/smz6990/Blog">github</a>
                  قرار گرفته
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Resume Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container">
        <div class="section-title">
          <h2>تماس با من</h2>
          <p>جهت مشاوره و همکاری با یکی از روش های زیر تماس بگیرید</p>
        </div>

        <div class="row" data-aos="fade-in">
          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>شهر:</h4>
                <p>تهران</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>ایمیل:</h4>
                <p>
                  <a href="mailto:info@salehmzh.ir">
                    info@salehmzh.ir
                  </a>
                  <a href="mailto:saleh.mohammadzadeh@gmail.com">
                    saleh.mohammadzadeh@gmail.com
                  </a>
                </p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>شماره تماس:</h4>
                <p>0938-763-1255</p>
              </div>

            </div>
          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch" dir="ltr">
            <form action="{% url 'website:contact-form' %}" method="post" role="form" class="form">
              {% csrf_token %}
              <div class="row">
                <div class="my-3" dir="rtl">
                  {% include 'messages.html' %}
                </div>
                <div class="form-group mb-2 col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" required />
                </div>
                <div class="form-group mb-2 col-md-6">
                  <label for="email">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" required />
                </div>
              </div>
              <div class="form-group mb-2">
                <label for="subject">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" required />
              </div>
              <div class="form-group mb-2">
                <label for="message">Message</label>
                <textarea class="form-control" name="message" rows="10" required></textarea>
              </div>
              <div class="form-group mb-2">
                {{form.captcha}}
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-outline-primary">Send me a Message</button>
              </div>
            </form>
          </div>

        </div>
      </div>
    </section>
    <!-- End Contact Section -->
  </main>
  <!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>iPortfolio</span></strong>
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer>
  <!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static '/vendor/purecounter/purecounter.js' %}"></script>
  <script src="{% static '/vendor/aos/aos.js' %}"></script>
  <script src="{% static '/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static '/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static '/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static '/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static '/vendor/typed.js/typed.min.js' %}"></script>
  <script src="{% static '/vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static '/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static '/js/main.js' %}"></script>
</body>

</html>